/* Global Styles */
body {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    margin: 0;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #171720;
}

/* Main Content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    background: #171720;
    border: 1px solid #ff0070;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    max-width: 75%;
    overflow: auto;
}

section {
    margin-bottom: 1rem;
    color: #ff0070;
}

.blogpost {
    align-items: start;
    justify-content: left;
    text-align: left;
    color: #c50055;
}

.caption {
    font-size: 0.9rem;
    margin-top: -5px;
    margin-bottom: 5px;
}

.key{
    white-space: pre-line;
}

section a{
    color: #ff0070;
}

img {
    width: 75%;
    height:auto;
    max-height: 65vh;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.responsive-img {
        width: 75%;
        max-width: 100%;
        height: auto;
        max-height: 65vh;
        object-fit: contain;
        display: block;
        margin: 0 auto;
}

