/* Global Styles */
:root{
    --main-colour:#ff0070;
    --blog-text-colour:#FFD9EA;
    --blog-highlight-colour:#ff74b2;
    --bg-colour: #171720;
}

body {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    margin: 0;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: var(--bg-colour);
}

/* Main Content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    background: #171720;
    border: 1px solid var(--main-colour);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    max-width: 75%;
    overflow: auto;
}

section {
    margin-bottom: 1rem;
    color: var(--main-colour);
}

.blogpost {
    align-items: start;
    justify-content: left;
    text-align: left;
    color: var(--blog-text-colour);
}

.blogpost a {
    color: var(--blog-highlight-colour);
}

.sub {
    color: var(--blog-text-colour);
}

figure {
    margin: 1.5rem 0;
}

figcaption {
    font-style: italic;
    color: var(--blog-text-colour);
}

.key{
    white-space: pre-line;
}

section a{
    color: var(--main-colour);
}

img {
    width: 75%;
    height:auto;
    max-height: 65vh;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.responsive-img {
    width: 75%;
    max-width: 100%;
    height: auto;
    max-height: 65vh;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

hr {
    border: 1px solid var(--main-colour);
    width: 90%;
}